<h1> Investor Sign In </h1>
    <br>
    <%= form_tag("/investor_signin", method: "post") do %>
      <h2>Your name: </h2>
      <div class=”field”>
      <%= collection_select(:investor, :name, Investor.all, :name, :name) %><br />
      </div>
      <h2>Your password: </h2>
      <div class=”field”>
      <%= password_field_tag :'investor[password]'%><br><br>
      <%= submit_tag "Sign In"%>
      </div>
    <% end %>
    
