<h1>Inventors Login</h1>
    <br>
    <%= form_tag("/signin", method: "post") do %>
    <h2>Username:</h2>
    <%= collection_select(:inventor, :user_name, Inventor.all, :user_name, :user_name) %><br/>
    <h2>Password:</h2>
    <br>
    <%= password_field_tag :"inventor[password]" %>
    <%= submit_tag "Sign In"%><br/>
    <% end %>


  
