<h1><%=@invention.name%></h1>
<p>by <%= link_to @invention.inventor.user_name, inventor_path(@invention.inventor) if @invention.inventor %> (<%= link_to "Edit Post", edit_inventor_invention_path(@invention.inventor, @invention) if @invention.inventor %>)</p>
<p><%= @invention.description %> </p>
