<h2>Name: <%= @investor.name %></h2>

<h3>Investments:</h3>

<ul>
  <% @investor.invention_investments.each do |inv|%>
    <li>Invention: <%=inv.invention.name%></li>
    <li>Invested:$ <%= link_to inv.amount, investor_invention_investment_path(inv.investor, inv)%></li> <br/>
  <%end%>
</ul>
<br/>

<%= link_to 'New Investment', new_investor_invention_investment_path(@investor)%>
