<!DOCTYPE html>
<html>
  <head>
    <title>SharkkTankk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>


  <link rel="stylesheet" media="all" href="//ht-assets.couchsurfing.com/assets/couchsurfing/couchsurfing-7c26a1498ca506ad5e50c67b84415caf5b03aef82f19e531c00fbceacd489b7e.css">
  <link rel="stylesheet" media="all" href="//ht-assets.couchsurfing.com/assets/global/global-c8ad4be1a75f20bac74ff6869d09ea97061a4c1fccda3e84414668fb4337911c.css">

  <link rel="apple-touch-icon" href="//ht-assets.couchsurfing.com/assets/logo-square-e2d7f22607e27920605d6656b76c78666b948c4bf638cec31c88aa0605a4f00d.png">
  <!-- TODO: use canonical for featured city pages -->

  <link rel="prefetch" href="//ht-assets.couchsurfing.com/assets/couchsurfing-a9fd96c18915be30614570aa3f5cc56e8300c50c9e969ffd63bab2975ba4e8ad.woff">
  <link rel="shortcut icon" href="//ht-assets.couchsurfing.com/assets/favicon-3c494547ebeda33dea8d2259a8f2d626103de3e0dc1b1da58fa067b5128eafed.ico">

  <!-- TODO ensive: rewrite, combine with bottom statement -->


  <!-- TODO: delete after React clean up --><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,300&amp;subset=latin,latin-ext" media="all">
<link rel="preload" href="https://adservice.google.com/adsid/integrator.js?domain=www.couchsurfing.com" as="script"><script type="text/javascript" src="https://adservice.google.com/adsid/integrator.js?domain=www.couchsurfing.com"></script><link rel="preload" href="https://pagead2.googlesyndication.com/pagead/js/r20190530/r20190131/show_ads_impl.js" as="script"><script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_2019053001.js" async=""></script><a href="/?_pxhc=1559688891279" rel="nofollow" target="_blank" style="width: 0px; height: 0px; font-size: 0px; line-height: 0;"></a></head>
    <main class="main mod-home-page" data-pjax-container="">


<div data-amplitude-pageview="welcome_page"></div>

<div data-amplitude-pageview="sign_up_email_page"></div>
<div class="join">
  <section class="js-join-step-one" data-error-message="Something went wrong. Try again, please.">
        <header class="join-header">


        </header>

    <form class="new_user" id="new_user" action="/users/sign_up" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="G6huqhLxyKExKSWI9zlPJNmlPTjgfGKG5misILj1vdL72SYbJcSaMUNUSDABgVG8ebRy9vW7T0ZqYR+QuUW0DA==">
      <div class="join-content">
          <div class="join-content-box">
            <h3>Sign Up Faster With</h3>
            <a class="button mod-facebook mod-full-width mod-no-max-width facebook-join-button" href="/users/auth/facebook?auth_action=sign_up">
                Facebook
</a>              <p>We will never post without your permission.</p>
          </div>
          <div class="join-content-separator">
              <p>or</p>
          </div>
        <div class="join-content-box">
          <h3>Sign Up With Email</h3>

          <fieldset>
            <div class="join-name-input">
              <label for="user_first_name">First name</label>
              <input type="text" name="first_name" id="first_name" class="mod-rounded mod-padded mod-no-shadow" placeholder="First name" required="required">
            </div>
            <div class="join-name-input">
              <label for="user_last_name">Last name</label>
              <input type="text" name="last_name" id="last_name" class="mod-rounded mod-padded mod-no-shadow" placeholder="Last name" required="required">
            </div>
            <label for="user_email">Email</label>
            <input class="mod-rounded mod-padded mod-no-shadow" placeholder="Email" required="required" type="email" value="" name="user[email]" id="user_email">
            <label for="user_password">Password</label>
            <p class="sub-text">Must be at least 8 characters</p>
            <input autocomplete="off" class="mod-rounded mod-padded mod-no-shadow" placeholder="Password" required="required" type="password" name="user[password]" id="user_password">
          </fieldset>
          <input type="submit" name="commit" value="Join" class="join-submit" data-disable-with="Saving..." data-amplitude-click="sign_up_email_submit">
        </div>

      </div>
      <input type="hidden" name="join_source" id="join_source">
</form>
    <div class="join-login">
      <p>
        Already a member?
      </p>
      <a id="login" class="button cboxElement" data-modal="true" href="/users/sign_in?cs_new_fe=true">Log In</a>
    </div>
  </section>
</div>



</main>
  </body>
</html>
